.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px 50px;
    gap: 20px;
}

.cards{
    background: white;
    border-radius: 8px;
    overflow: hidden;
    flex: 1;
    transition: transform 0.3s ease;
}

.card:hover{
     transition: translateY(-5px);
}

.card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.card-content{
    padding: 20px;
}

.card-title{
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    color: #333;
}

.card-desc{
    color: #666;
    line-height: 1.5;
    margin: 0;
}

.btns{
    width: 100%;
    margin: 20px 0px 10px 0px;
    padding: 6px 0px;
    border-radius: 8px;
    border: 3px solid rgba(11, 87, 187, 0.888);
    background-color: #5196f0;
    transition: transform 0.3s ease;
}

.btns:hover{
    transform: translatelY(-3px);
}

.btns > a{
    color: rgb(253, 254, 255);
    text-decoration: none;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }
}

